@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: #414868;
}

body {
    background-color: #1a1b26;
    margin: 10vh auto;
    width: 50vw;
    color: #a9b1d6;
    border: 0.25em solid #f7768e;
    border-radius: 10px;
}

nav {
    font-weight: 500;
    font-size: 16px;
    background-color: #24283b;
    margin: 15px;
}

.nav-bar {
    list-style: none;
    padding: 0;
    text-decoration: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.nav-bar a {
    text-decoration: none;
    color: #a9b1d6;
}

.nav-bar li{
    flex-grow: 1;
    border: 1px solid black;
    padding: 9px;
}

.nav-bar li.active{
    border-bottom: 1px solid #2ac3de;
}

main {
    margin: 15px;
}

#entries {
    list-style: none;
}

.entry {
    border: 1px solid white;
    margin: 9px 0;
    display: flex;
}

.entry span.title {
    flex-grow: 1;
    color: #1a1b26;
    background-color: #2ac3de;
    border-right: 1px solid white;
    padding: 10px 9px 10px 10px;
}

.entry span.cost {
    flex-grow: 1;
    padding: 10px;
}

footer {
    margin: 15px;
}

.footer {
    background-color: #24283b;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.footer li.button {
    cursor: pointer;
    background-color: #ff9e64;
    color: #24283b;
}
.footer li.button:hover {
    background-color: #CD6A31;
}

.footer li {
    flex-grow: 1;
    border: 1px solid black;
    padding: 9px;
}
